@using SugCon.SitecoreSend
@model SubscribeFormModel

<div>
    Subscribe to <sc-text asp-for="ListId"></sc-text>
    <form method="post" action="/subscribe/@(Model.ListId)">
        <input name="Name" placeholder="Your name" required />
        <input name="Email" placeholder="your@email.com" type="email" required />
    
        <input type="submit" />
    </form>
</div>