<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />

    @* This tag helper is necessary to enable robot detection for Sitecore Analytics. *@
    <sc-visitor-identification></sc-visitor-identification>

    <script>
        !function(t,n,e,o,a){function d(t){var n=~~(Date.now()/3e5),o=document.createElement(e);o.async=!0,o.src=t+"?ts="+n;var a=document.getElementsByTagName(e)[0];a.parentNode.insertBefore(o,a)}t.MooTrackerObject=a,t[a]=t[a]||function(){return t[a].q?void t[a].q.push(arguments):void(t[a].q=[arguments])},window.attachEvent?window.attachEvent("onload",d.bind(this,o)):window.addEventListener("load",d.bind(this,o),!1)}(window,document,"script","//cdn.stat-track.com/statics/moosend-tracking.min.js","mootrack");
        mootrack('init', 'adfdbb1a-b531-49b3-bfb0-0a693d0dc605');
    
        @if(!string.IsNullOrWhiteSpace(Context.Request.Query["email"].ToString()))
        {
            <text>mootrack('identify', '@(Context.Request.Query["email"].ToString())');</text>
        }
        mootrack('trackPageView');
        @if(!string.IsNullOrWhiteSpace(Context.Request.Query["customEvent"].ToString()))
        {
            <text>mootrack('@(Context.Request.Query["customEvent"].ToString())');</text>
        }
</script>
    
</head>
<body>
    @RenderBody()
</body>
</html>