<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/"
    xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore role:require="Standalone or ContentManagement">

		
		<dataProviders>
			<SitecoreSendListsDataProvider type="SugCon.SitecoreSend.Providers.MooSendListsProvider, sugcon-send">
				<param desc="contentRootItemId">{478EDBD7-C01A-4B48-832E-D3FF85405AF2}</param>
				<param desc="contentItemTemplateId">{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</param>
			</SitecoreSendListsDataProvider>
		</dataProviders>

		<databases>
			<database id="master">
				<dataProviders hint="list:AddDataProvider">
					<dataProvider ref="dataProviders/SitecoreSendListsDataProvider" patch:before="*[@ref=dataProviders/main]">
						<disableGroup>delete</disableGroup>
					</dataProvider>
				</dataProviders>
			</database>
		</databases>
		

		<settings>
			<setting name="SitecoreSendApiKey" value="810c2194-7943-4143-890d-b1ff5dcedc3d" />
		</settings>

	</sitecore>
</configuration>
